.menuCard {
    display: flex;
    width: 100%;
    background-color: var(--tertiaryFont);
}

.weekday {
    color: var(--tertiaryFont);
    background-color: var(--tertiary);
    padding: 0.5em;
}

.weekday.closed {
    width: 2em;
    transition: width 0.5s;
}

.weekday.open {
    width: 6em;
    transition: width 0.5s;
}