:root {
  --primary: #F6FAF5;
  --primaryFont: black;
  --secondary: #C4DEBC;
  --secondaryFont: black;
  --tertiary: #779063;
  --tertiaryFont: #F6FAF5;
  --inputBox: white;
}

body {
  background-image: url("./images/background.jpg");
  margin: 0.4em;
}